@import "tailwindcss";

@theme {
  --font-eb: var(--font-eb);
  --font-crimson: var(--font-crimson);
  --font-calson: var(--font-calson);
  --font-lato: var(--font-lato);
  --font-inter: var(--font-inter);
}

@utility font-eb {
  font-family: var(--font-eb);
}

@utility font-crimson {
  font-family: var(--font-crimson);
}

@utility font-calson {
  font-family: var(--font-calson);
}

@utility font-lato {
  font-family: var(--font-lato);
}

@utility font-inter {
  font-family: var(--font-inter);
}

html {
  font-size: 16px;
}

body {
  background-color: #FAF9EE;
}